In [3]:
import pandas
from Corpus import Corpus
from Classes import Documents

In [6]:
df_discours =pandas.read_csv('discours_US.csv', sep ="\t")
corp = Corpus('TD8')
for index, row in df_discours.iterrows():
    phrases =row['text'].split(".")
    for k in phrases:
        if k != "":
            corp.add(Documents(row["descr"],row['speaker'],row['date'],row['link'],k))
corp.concorde('work',20)

          Contexte gauche Motif trouvé        Contexte droit
0      it took to make it         work    But I think it's f
1     re than the typical         work  er  There's somethin
2     wrong when American         work  ers keep getting mor
3     is piecing together         work    and loans, knowing
4     believed you had to         work   hard to make your w
...                   ...          ...                   ...
2106  rump and offered to         work    with him on behalf
2107  ome we wanted or we         work  ed so hard for and I
2108   making our economy         work   for everyone not ju
2109   stand together and         work   together with respe
2110    And there is more         work   to do  I am incredi

[2111 rows x 3 columns]

In [7]:
import Search_Engine as s
engine = s.SearchEngine(corp)

In [11]:
engine.search("Jobs, president, money",100000)

Recherche des documents: 100%|██████████| 32305/32305 [00:00<00:00, 1874612.49it/s]

       Document      Score
0         21951  22.260612
1         11446  20.002601
2          1149  19.611866
3         23441  18.663827
4          2030  18.087482
...         ...        ...
32300     18170   0.000000
32301     18172   0.000000
32302     18173   0.000000
32303     18176   0.000000
32304     16153   0.000000

[32305 rows x 2 columns]

In [13]:
import ipywidgets as widgets
from IPython.display import display
button = widgets.Button(
    description='click to confirm the data',
    layout={'width': '300px'}
)
l =widgets.Label("Moteur de recherche")
t =widgets.Text()
i =widgets.IntSlider(50)
out = widgets.Output()

In [23]:
def clique_bouton(event):
    query = t.value
    num = i.value
    with out:
        out.clear_output()
        # Call the search function
        print(engine.search(query, num))

button.on_click(clique_bouton)
display(widgets.VBox([l,t,i,button,out]))

VBox(children=(Label(value='Moteur de recherche'), Text(value='President, love'), IntSlider(value=50), Button(…